em em{font-style:normal}
em em em,em.italique{font-style:italic}
em.emph1 {color:blue}
em.emph2 {color:red}
em.emph3 {color:green}
em.emph4 {color:maroon}
em.emph5 {color:purple}
em.emph6 {color:navy}
abbr,acronym{border-bottom:1px dotted #333;cursor:help}
sup a{text-decoration:none;color:black}
table{margin:auto}
.abstract{margin:10px;padding:20px;font-size:.9em;border-left:1px solid gray;border-right:1px solid gray;font-style:italic}
.abstract:before{display:block;content:"RÉSUMÉ";text-align:center}
.pullquote{margin:15px;float:right;font-size:1.6em;max-width:20%}
.pullquote p{text-indent:0}
.pullquote:nth-of-type(even){float:left}
table.quizz{cursor:help}
table.quizz caption{border:none}
table.quizz tr .answer{visibility:hidden}
table.quizz tr:hover .answer{visibility:visible}
form.qcm h5{text-align:center}
form.qcm .qcm_wrapper{margin:auto;-webkit-column-count:2;-moz-column-count:2;-moz-column-gap:1em;-moz-column-rule:1px solid gray;column-count:2;column-gap:1em;column-rule:1px solid gray}
form.qcm fieldset{border:1px dashed green}
form.qcm fieldset legend{font-size:.8em}
form.qcm div.qcm_answer{padding-left:10px;margin-left:10px;border-left:1px solid gray}
.verse p{text-align:center;font-style:italic;text-indent:0}
span.quickref{border:1px dotted green;background-color:#abffab;font-family:Courrier;margin:4px}
span.roman{text-transform:lowercase;font-variant:small-caps}
p.displaymath{text-align:center}
hr.court{width:40%}
hr.footnote{margin-left:0;margin-bottom:0}
hr.footnote + ol{font-size:85%;margin-top:1px;list-style-type:none}
hr.footnote + ol li{line-height:1em}
.ss{font-family:sans-serif}
.ms{font-family:monospace}
.century{text-transform:lowercase;font-variant:small-caps}
body {margin:0;padding:0;font-family:"Trebuchet MS",Arial,Helvetica,FreeSans,sans-serif;font-size:0.8em;line-height:1.4;background-color:#efefed;height:100%}
article,aside,dialog,figure,footer,header,hgroup,menu,nav,section {display:block}
ul,ol {margin:.75em 0 .75em 10px;padding:0;list-style-type:none}
li {padding-left:10px;margin-bottom:5px}
tt {font-size:12px}
a {text-decoration:none}
a:link {color:#3c3c3c}
a:visited {color:#000}
a:hover,a:focus,a:active {text-decoration:underline}
a:focus,a:active {outline:none}
a img,hr {border:none}
p {margin:.75em 0}
em {font-style:italic}
strong {font-weight:bold}
h4 {margin:0;padding:0}
.nonflottant,.omnilogisme img {max-width:90%}
aside + section#content h3 + * {margin-top:37px}
.omnilogisme img {display:block;margin:auto}
span.email {direction:rtl;unicode-bidi:bidi-override}
blockquote{color:#4f81bd;border-bottom:1px solid;background:url('img/gui.PNG') no-repeat;padding-left:25px}
blockquote p{text-indent:0}
blockquote p:first-letter{color:black!important}
blockquote p:after{color:black;content:"»"}
.auteur{text-align:right;font-style:italic;color:#808080}
.auteur:first-letter{color:#808080;font-size:1em}
span a:hover{color:#C00}
.TexTexte{white-space:nowrap;font-style:italic;font-size:90%;color:#1e1e1e}
caption {color:#243f60;border:1px solid black}
.labelimage{float:right;clear:right;display:block;border:1px solid black;margin:5px;background-color:#F2F2F2;width:305px;font-size:.95em}
.labelimage span{text-indent:0;text-align:center;color:#4F81BD;margin:2px;display:block}
.labelimage img{float:none;padding:3px;max-width:300px}
.TexTexte sub{font-size:.75em}
img.TexPic{display:inline;vertical-align:middle;float:none;padding:0;margin:3px 0}
input:focus,textarea:focus{color:#44007E}
p.displaymath:first-letter{color:black !important;font-weight:normal!important}
table.quizz{cursor:help}
table.quizz caption{border:none}
table.quizz tr .answer{visibility:hidden}
table.quizz tr:hover .answer{visibility:visible}
audio {margin:none;text-align:center}
.omnilogisme ul {list-style-type:square;padding-left:10px}
.omnilogisme ul ul{list-style-type:circle}
.omnilogisme li {padding-left:0;margin-left:10px}
.omnilogisme ol {padding-left:18px;list-style:decimal}
.omnilogisme ol ul{margin-left:20px;list-style:inside circle}
td {border:1px dotted grey;padding:2px}
td a{display:block}
.omnilogisme td a{display:inline}
td.noborder:hover {background-color:#fff;outline:none}
td:hover {border:1px solid grey;background-color:#def0ef;outline:1px solid #FFF;outline-offset:-2px}
td:active,td:focus{border:1px solid #d38e49;background-color:#feeac9;outline:1px solid #fff8f0;outline-offset:-2px}
hr {background:url('img/separation-m.jpg') no-repeat;width:712px;height:82px;margin:0;padding:0}
hr.court {background:url('img/separation_court.JPG') no-repeat;width:520px;height:2px;padding:0;position:relative;right:25px}
section hr {background:url('img/separation-m.jpg') no-repeat;width:712px;height:82px;margin-left:-10px}
hr.footnote {background-image:none;margin:5px 0 10px 25px;border-bottom:1px dashed #333;padding-bottom:10px;height:13px}
#content .omnilogisme,.omni_start .omnilogisme > p:first-child,article.presentation,#Typo_preview {font:16px/1.5em 'Georgia','Palatino Linotype','Book Antiqua','Palatino','Times',serif}
#content .omnilogisme a,#Typo_preview a{text-decoration:none;color:#03F}
#content .omnilogisme a:hover,#Typo_preview a:hover{text-decoration:underline}
.omnilogisme p:first-letter,article.presentation p:first-letter {font-weight:bold;color:red;margin-left:15px}